name: Metrics
on:
  # Roda todos os dias à meia-noite
  schedule: [{cron: "0 0 * * *"}]
  # Permite rodar manualmente clicando num botão
  workflow_dispatch:
  # Roda a cada push na branch main/master
  push: {branches: ["master", "main"]}
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          # Opções para deixar igual ao Dashboard
          user: EderJuniorS
          template: classic
          base: header, activity, community, repositories, metadata
          config_timezone: America/Sao_Paulo
          plugin_languages: yes
          plugin_languages_limit: 8
          plugin_languages_sections: most-used
          plugin_languages_colors: github
          plugin_lines: yes
